# special folders
saves/*
saves_backup/*
datas/*
backup/*
results/*
pretrained/*
plots/*
ARCHIVE/*
.vscode/*
test/resnet56.log
save_commands.sh
save_temp
data/
datas/
wandb/
src/multirun

# output files
*.pyc
.ipynb_checkpoints
__pycache__
